<div class="mb-5">
	<div class="row justify-content-between">
		<div class="col-md-auto p-0">
			<h1>Ваша открытка</h1>
		</div>
		<div class="col-md-auto p-0">
			<a href="/">
				<button type="button" class="btn btn-primary">Назад</button>
			</a>
		</div>
	</div>
</div>

<div class="mt-3">
	<a href="{{postcardImg}}" download="postcard.png">
		<button class="btn btn-success">Скачать</button>
	</a>
</div>

<div class="mt-3">
	<img src="{{postcardImg}}" class="img-fluid" alt="postcard">
</div>